{% extends 'base.html' %}

{% block title%}
Главная страница
{% endblock %}

{% block body%}
<br>
<br>

<div class="row" data-masonry="{&quot;percentPosition&quot;: true }" style="position: relative; height: 690px;">
    <div class="col-sm-6 col-lg-4 mb-4" style="position: absolute; left: 5%; top: 10px;">
      <div class="container" >
       <img src="static/css/img/IMG-269ee12c534430c1f64f7e63340a34ba-V.jpg" alt="FF"  width="460" height="330" border="3">
      </div>
    </div>
    <div class="col-sm-6 col-lg-4 mb-4" style="position: absolute; left: 33%; top: 10px;">
      <div class="container" >
        <img src="static/css/img/IMG-1eb3553f1f10869d4043e80bd2a6c25f-V.jpg" alt="FF"  width="460" height="330" border="3">
      </div>
    </div>
    <div class="col-sm-6 col-lg-4 mb-4" style="position: absolute; left: 59%; top: 10px;">
      <div class="container" >
         <img src="static/css/img/IMG-37ec426f9879145630af863325d03d4f-V.jpg" alt="FF"  width="618" height="540" border="3">
      </div>
    </div>
    <div class="col-sm-6 col-lg-4 mb-4" style="position: absolute; left: 5%; top: 350px;">
      <div class="container" >
         <img src="static/css/img/IMG-bf55dce4b1295c51aebf85d53c9703d9-V.jpg" alt="FF"  width="460" height="330" border="3">
      </div>
    </div>
    <div class="col-sm-6 col-lg-4 mb-4" style="position: absolute; left: 33%; top: 350px;">
      <div class="container" >
         <img src="static/css/img/IMG-555d116352834d727255100093fc7cdd-V.jpg" alt="FF"  width="460" height="330" border="3">
      </div>
    </div>
    <div class="col-sm-6 col-lg-4 mb-4" style="position: absolute; left: 59.555%; top: 550px;" >
      <div class="card">
        <div class="card-body">
         <i>
          <div class="container" >
          <h1 class="card-title">Стоимость 1 м.кв.</h1>
          <h3 class="card-title">договорная</h3>
          </div>
         </i>
        </div>
      </div>
    </div>
  </div>


{% endblock %}