{% extends 'base.html' %}

{% block title%}
Главная страница
{% endblock %}

{% block body%}
<br>
<br>
<div class="row" data-masonry="{&quot;percentPosition&quot;: true }" style="position: relative; height: 690px;">
    <div class="col-sm-6 col-lg-4 mb-4" style="position: absolute; left: 5%; top: 10px;">
      <div class="container" >
       <img src="static/css/img/IMG-e46a79076dc322497f8d06f7d0738cce-V.jpg" alt="FF"  width="460" height="380" border="3">
      </div>
    </div>
    <div class="col-sm-6 col-lg-4 mb-4" style="position: absolute; left: 36.6667%; top: 10px;">
      <div class="container" >
        <img src="static/css/img/IMG-eb39141685090c9749dc8e055922f344-V.jpg" alt="FF"  width="460" height="380" border="3">
      </div>
    </div>
    <div class="col-sm-6 col-lg-4 mb-4" style="position: absolute; left: 10%; top: 428px;" >
      <div class="card">
       <div class="card-body">
         <i>
          <div class="container" >
          <h1 class="card-title">Cтоимость 1 часа работы</h1>
          <h3 class="card-title">60 бел.руб. + НДС</h3>
          </div>
         </i>
       </div>
      </div>
    </div>
    <div class="col-sm-6 col-lg-4 mb-4" style="position: absolute; left: 69%; top: 10px;">
      <div class="container" >
         <img src="static/css/img/IMG-5f14ed2884e23e153664c5533d111be3-V.jpg" alt="FF"  width="460" height="380" border="3">
      </div>
    </div>
    <div class="col-sm-6 col-lg-4 mb-4" style="position: absolute; left: 43.3333%; top: 428px;" >
      <div class="card">
        <div class="card-body">
         <i>
          <div class="container" >
          <h1 class="card-title">Комплектность</h1>
          <h3 class="card-title">ковш, вилы, люлька</h3>
          </div>
         </i>
        </div>
      </div>
    </div>
  </div>


{% endblock %}