{% extends 'base.html' %}

{% block title%}
Главная страница
{% endblock %}

{% block body%}
<br>
<br>
<br>
<div class="row" data-masonry="{&quot;percentPosition&quot;: true }" style="position: relative; height: 690px;">
       <div class="col-sm-6 col-lg-4 mb-4" style="position: absolute; left: 3%; top: 10px;">
          <div class="box">
            <img src="static/css/img/IMG-5f14ed2884e23e153664c5533d111be3-V.jpg" alt="FF"  width="350" height="350" border="3" class="bd-placeholder-img rounded-circle" >
          </div>
         <br>
          <p style="background-color:hsl(200, 170%, 70%);" xmlns="http://www.w3.org/1999/html"></p>
          <div class="container">
           <i>
           <em>
             <h2 class="fw-strong">Погрузчик JCB 532-120</h2>
             <h2 class="fw-strong">1 час работы</h2>
           </em>
           </i>
         </div>
         <br>
           <a class="btn btn-lg btn-primary" ><h3>60 бел.руб. + НДС</h3> </a>
       </div>
      <div class="col-sm-6 col-lg-4 mb-4" style="position: absolute; left: 27%; top: 10px;">
          <div class="box">
             <img src="static/css/img/IMG-23f49c442c8414d538747995169d8bf7-V.jpg" alt="FF"  width="350" height="350" border="3" class="bd-placeholder-img rounded-circle" >
          </div>
          <p style="background-color:hsl(200, 170%, 70%);" xmlns="http://www.w3.org/1999/html"></p>
          <div class="container">
           <br>
            <i>
             <em>
              <h2 class="fw-strong">Мини-экскаватор Hitachi EX-40</h2>
              <h2 class="fw-strong">1 час работы</h2>
             </em>
            </i>
         </div>
         <br>
           <a class="btn btn-lg btn-primary" ><h3>50 бел.руб. + НДС</h3> </a>
      </div>
      <div class="col-sm-6 col-lg-4 mb-4" style="position: absolute; left: 53%; top: 10px;">
         <div class="box">
            <img src="static/css/img/IMG-b1e7d0a5986c3024fc7ecad458715da5-V.jpg" alt="FF"  width="350" height="350" border="3" class="bd-placeholder-img rounded-circle" >
         </div>
          <p style="background-color:hsl(200, 170%, 70%);" xmlns="http://www.w3.org/1999/html"></p>
          <div class="container">
           <br>
           <i>
            <em>
             <h2 class="fw-strong">Бетоносмеситель Fiora</h2>
             <h2 class="fw-strong">1 час работы</h2>
            </em>
          </i>
         </div>
        <br>
          <a class="btn btn-lg btn-primary" ><h3>28 бел.руб. + НДС</h3> </a>
      </div>
      <div class="col-sm-6 col-lg-4 mb-4" style="position: absolute; left: 77%; top: 10px;">
         <div class="box">
            <img src="static/css/img/IMG-1eb3553f1f10869d4043e80bd2a6c25f-V.jpg" alt="FF"  width="350" height="350" border="3" class="bd-placeholder-img rounded-circle" >
         </div>
          <p style="background-color:hsl(200, 170%, 70%);" xmlns="http://www.w3.org/1999/html"></p>
         <div class="container">
         <br>
          <i>
           <em>
           <h2 class="fw-strong">Производственное здание</h2>
           <h2 class="fw-strong">1 м.кв.</h2>
          </em>
         </i>
        </div>
      <br>
        <a class="btn btn-lg btn-primary" ><h3>Цена договорная</h3> </a>
      </div>
</div>

{% endblock %}